table {
  border-collapse: collapse;
  margin: 20px auto;
  font-family: monospace;
  font-size: 20px;
}

td {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  border: 1px solid #999;
}

td.delimiter {
  border-right: 3px solid #333;
}

td:nth-child(1) {
  border-left: 3px solid #333;
}

tr.delimiter td {
  border-bottom: 3px solid #333;
}

tr:nth-child(1) td {
  border-top: 3px solid #333;
}

td.empty {
  color: #ccc;
}

td:hover {
  background-color: #f0f0f0;
}