table {
  border-collapse: collapse;
  margin: 20px auto;
  font-family: monospace;
  font-size: 20px;
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
}

td {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  border: 1px solid #999;
}

td.delimiter {
  border-left: 3px solid #333;
}

tr.delimiter {
  border-top: 3px solid #333;
}

td:not(.empty) {
  background-color: #f8f8f8;
}

td:hover {
  background-color: #f0f0f0;
}